<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
  <head>
    <title>Dashboard User</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet" type="text/css" media="screen"></link>

    <!-- Add custom CSS here -->
    <link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" type="text/css"></link>
    <link rel="stylesheet" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" type="text/css"></link>
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css"></link>
    
    <!--Abhi  -->
    <link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
	<link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
	<link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">Home Page</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active"><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home Page</a></li>
        <!--    <li><a href="charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li> -->
        	<li><a th:href="@{/facebook}"><i class="fa fa-edit"></i>User Profile</a></li>
			<li><a th:href="@{/facebook/feed}"><i class="fa fa-edit"></i>Feed</a></li>
			<li><a th:href="@{/facebook/friends}"><i class="fa fa-edit"></i>Friends</a></li>
			<li><a th:href="@{/facebook/albums}"><i class="fa fa-edit"></i>Albums</a></li>
            <li><a th:href="@{/facebook/UpdateProfile}"><i class="fa fa-edit"></i>Update Profile</a></li>
       
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
             <li>
             <form id="disconnect" class="dropdown-toggle" th:action="@{/connect/facebook}" method="post">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<button class="btn btn-link" type="submit"><i class="fa fa-power-off"></i> Logout</button>	
				<input type="hidden" name="_method" value="delete" />
				</form>
			</li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Home Page</h1>
            <ol class="breadcrumb">
             <!-- <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li> -->
            </ol>
            <div class="alert alert-success alert-dismissable">
             Your Profile has been updated and mail has been sent.
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          
          
        </div><!-- /.row -->
        </div><!-- /.row -->
        
        </div>
		
    <!-- JavaScript -->
    <script th:src="@{/resources/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/resources/js/bootstrap.js}"></script>

    <!-- Page Specific Plugins -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script th:src="@{/resources/js/morris/chart-data-morris.js}"></script>
    <script th:src="@{/resources/js/tablesorter/jquery.tablesorter.js}"></script>
    <script th:src="@{/resources/js/tablesorter/tables.js}"></script>

  </body>
</html>
