<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
  <head>
    <title>Dashboard User</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet" type="text/css" media="screen"></link>

    <!-- Add custom CSS here -->
    <link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" type="text/css"></link>
    <link rel="stylesheet" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" type="text/css"></link>
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css"></link>
    
    <!--Abhi  -->
    <link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
	<link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
	<link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">Home Page</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active"><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home Page</a></li>
        <!--    <li><a href="charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li> -->
        	<li><a th:href="@{/facebook}"><i class="fa fa-edit"></i>User Profile</a></li>
			<li><a th:href="@{/facebook/feed}"><i class="fa fa-edit"></i>Feed</a></li>
			<li><a th:href="@{/facebook/friends}"><i class="fa fa-edit"></i>Friends</a></li>
			<li><a th:href="@{/facebook/albums}"><i class="fa fa-edit"></i>Albums</a></li>
            <li><a th:href="@{/facebook/UpdateProfile}"><i class="fa fa-edit"></i>Update Profile</a></li>
       		<li><a th:href="@{/facebook/productRec}"><i class="fa fa-edit"></i>Product Ads</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Retailer  <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="logout.html"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Home Page</h1>
            <ol class="breadcrumb">
             <!-- <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li> -->
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome <span th:text="${account.firstName}">first-name</span>!
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                  	<i class="fa fa-info-circle fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-text">My Profile</p>
                  </div>
                </div>
              </div>
              <a th:href="@{/facebook}">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View My Profile
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-th-list fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-text">Feeds</p>
                  </div>
                </div>
              </div>
              <a th:href="@{/facebook/feed}">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View My Feeds
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-camera fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-text">Albums</p>
                  </div>
                </div>
              </div>
				<a th:href="@{/facebook/albums}">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Photos
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
        </div><!-- /.row -->
        </div>
        
        <div class="row">
          <div class="col-lg-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-text">Friends</p>
                  </div>
                </div>
              </div>
              	<a th:href="@{/facebook/friends}">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Friends
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-facebook-square fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-text">Update Profile</p>
                  </div>
                </div>
              </div>
              	<a th:href="@{/facebook/UpdateProfile}">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Update My Profile
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        
        
        </div><!-- /.row -->
		
     <!--  </div>/#page-wrapper

    </div> --><!-- /#wrapper -->

    <!-- JavaScript -->
    <script th:src="@{/resources/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/resources/js/bootstrap.js}"></script>

    <!-- Page Specific Plugins -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script th:src="@{/resources/js/morris/chart-data-morris.js}"></script>
    <script th:src="@{/resources/js/tablesorter/jquery.tablesorter.js}"></script>
    <script th:src="@{/resources/js/tablesorter/tables.js}"></script>

  </body>
</html>
